<suite name="MissionQA Suite">
<listeners>
    <listener class-name="mission.utils.TestListener"/>
</listeners>

    <test name="Automation Tests">
        <classes>
            <class name="mission.test.UITest"/>
            <class name="mission.test.APITests"/>
        </classes>
    </test>

</suite>